{% extends "QuizApp/Base.html" %}
{% load static %}
{% block title %}home{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'QuizApp/homepage.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>SELECT SUBJECT/TOPIC TO START</h1>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="button-group">
            <button type="submit" name="subject" value="Mathematics" class="subject-button">Mathematics</button>
            <button type="submit" name="subject" value="Science" class="subject-button">Science</button>
            <button type="submit" name="subject" value="Computer" class="subject-button">Computer</button>
            <button type="submit" name="subject" value="History" class="subject-button">History</button>
        </div>
    </form>
</div>
{% endblock %}
